<link rel="stylesheet" href="css/main.css">
<!--<script src="js/vendor/modernizr-2.7.1.min.js"></script>-->
<link href='http://fonts.googleapis.com/css?family=Niconne|Tangerine|Great+Vibes' rel='stylesheet' type='text/css'>
    <style type="text/css">
  body {
    font-family: 'Tangerine', sans-serif;

  }
</style>
</head>
<body class="loading">
  <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->

      <div id="preload">
        <img src="img/img0.jpg">
        <img src="img/img1.jpg">
        <img src="img/img2.jpg">
        <img src="img/img3.jpg">
        <img src="img/img4.jpg">
      </div>

      <main>

       <section id="slide-0" class="homeSlide" style="height:682px">
          <div class="bcg">
            <div class="hsContainer">
            <div class="hsContent">
              <h2 style="word-wrap:normal;font-size:2.2em" id ="heading">
              Wherever you go, go with all your heart - Confucius<br>

              </h2>

            </div>

           </div>
          </div>

      </section>

        <section id="slide-1" class="homeSlide" style="height:682px">
          <div class="bcg">
            <div class="hsContainer">
            <div class="hsContent">
              <h2 style="word-wrap:normal">I do not speak with any fondness but the language of coolest history, when I say that Boston commands attention as the town which was appointed in the destiny of nations to lead the civilization of North America.<br>
              - Ralph Waldo Emerson
              </h2>
              <h2> Keep scrolling </h2>
            </div>
            </div>
          </div>
      </section>

      <section id="slide-2" class="homeSlide" style="height:682px">
        <div class="bcg">
          <div class="hsContainer">
            <div class="hsContent">
              <h2>You wouldn’t think such a place as San Francisco could exist.  The wonderful sunlight here, the hills, the great bridges, the Pacific at your shoes.  Beautiful Chinatown.  Every race in the world.  The sardine fleets sailing out.  The little cable-cars whizzing down The City hills….And all the people are open and friendly.<br>
              - Dylan Thomas</h2>
              <h2> Keep scrolling </h2>
            </div>
            </div>
        </div>
      </section>

    <section id="slide-3" class="homeSlide" style="height:682px">
      <div class="bcg">
          <div class="hsContainer">
            <div class="hsContent">
              <h2>Hog Butcher for the World,
                 Tool Maker, Stacker of Wheat,
                 Player with Railroads and the Nation's Freight Handler;
                 Stormy, husky, brawling,
                 City of the Big Shoulders..<br>
                  - Carl Sanburg</h2>
                <h2> Keep scrolling </h2>
            </div>
          </div>

        </div>
    </section>

    <section id="slide-4" class="homeSlide" style="height:682px">
      <div class="bcg">
          <div class="hsContainer">
            <div class="hsContent">
              <h2>Traveling - it leaves you speechless, then turns you into a storyteller.
              <br> - Ibn Battuta.<br><br>
              So go forth, create your own
              or share someone's else's...</h2>
            </div>
          </div>

        </div>
    </section>

  </main>

     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
      <script src="js/imagesloaded.js"></script>
      <script src="js/skrollr.js"></script>
      <script src="js/_main.js"></script>
      <script>
        $(document).ready(function() {
          $("#heading").delay(1000).fadeIn(4000);
        });
      </script>

  </body>
  <footer>

  </footer>
</html>
