<script type="text/javascript">
  var map_array = <%= @itinerary_array %>;
  var content_array = <%= raw @content_array.to_json %>;
  var my_zoom =  13;
  var mapcenterlat = <%= @hunt.location.latitude %>;
  var mapcenterlong = <%= @hunt.location.longitude %>;
  var flag = 2;
</script>

<div id="map_canvas" style="height:100%;width:100%"></div>




