<% if flash.any? %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
<% end %>


<div class="row">
  <div class="large-6 large-offset-3 columns blue-box">
    <li><%=link_to "New tripdetail", new_trip_path,class: "question-text hvr-float"%>

    </li>
  </div>
</div>

<div class="row">
  <div class="large-12 columns blue-box">
    <div class="large-6 large-offset-3 columns">
      <li>Name : <%=@tripdetail.name%>

       Location : <%=@tripdetail.trip.address.split(',').first%></li><br>

    </div>
      </div>

  </div>








