

<div class="row">
  <div class="large-10 large-offset-1 columns question-boxes nofill">
    <h3 class="boxtext">Trip</h3>
      <div class="large-12 columns blue-box hvr-float">
        <li>
          <%@photos.each do|photo|%>


              <li><%= photo.photo_name%></li>
              <li><%= image_tag(photo.photo_name) %></li>
              <li><%= photo.description%></li>
          <%end%>
        </li>

      </div>

  </div>
</div>




