<script type="text/javascript">
  var map_array = <%= @location_array.inspect %>;
  var content_array = <%= raw @content_array.to_json %>;
  var my_zoom =4;
  var flag = 1;
  var geoflag = 1;
  var mapcenterlat = 34.12829;
  var mapcenterlong = -94.5795;
</script>


<div id="map_canvas" style="height:100%;width:100%"></div>

<div class="row">
    <div class="large-6 columns layer-box boxloc">

        <li class="question-text boxques">Click or mouseover on markers to proceed</li>
  </div>
</div>


<div class="row">
  <div class="large-10 large-offset-1 columns question-boxes nofill">
    <h3 class="boxtext">Choose Location</h3>
      <div class="large-12 columns blue-box hvr-float">
        <li>
          <%@locations.each do|loc|%>
            <%= link_to "#{loc.address.split(',').first}", location_path(loc.id), class: "question-text hvr-float" %>
          <%end%>
        </li>
        <div class="large-4 large-offset-4 columns">
          <li><%= paginate @locations %></li>
        </div>
      </div>

  </div>
</div>




